/* .ui.fixed.menu.top {
    background-color: #495e4a;
}
.customHeader, .pusher {
    height: 60px;
}
.customHeader .pushable {
    position: fixed;
    z-index: 101;
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: visible;
}

.ui.mini.image, .ui.mini.images .image, .ui.mini.images img, .ui.mini.images svg {
    width: 55px;
    height: auto;
    font-size: .78571429rem;
    border-radius: 50%;
} */
/* .pushable {
    overflow-x: visible;
    } */
    /* .ui.mini.image.logoIcon{
        width: 30px;
        height: auto;
        font-size: .78571429rem;
        border-radius: 50%;
    } */

    .ui.fixed.menu.top,
.ui.sidebar.menu {
  background-color: #495e4a;
}

.customHeader {
  height: 60px;
}

#left-pusher.pusher {
  height: 100%;
}

.customHeader .pushable {
  position: fixed;
  z-index: 101;
  margin: 0;
  width: 100%;
  height: auto;
  overflow-x: visible;
}

#left-pusher .menu {
  top: 60px;
  width: 120px;
  height: auto !important;
  max-height: inherit;
}
