.ui.fixed.menu.top {
    background-color: rgba(150, 128, 3, 0.626);
}

.customHeader, .pusher {
    height: 60px;
}

.ui.mini.image, .ui.mini.images .image, .ui.mini.images img, .ui.mini.images svg {
    width: 55px;
    height: auto;
    font-size: .78571429rem;
    border-radius: 50%;
}